<h2 class="page-title">Employee Master Entry</h2>
<mat-card class="form-container">
    <form #form="ngForm" [formGroup]="employeeForm" (ngSubmit)="onSubmit(form)">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Emp Id</mat-label>
                <input matInput formControlName="emp_uniqueid" required>
                <mat-error>
                    <app-form-error [errors]="employeeForm.controls['emp_uniqueid'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="emp_name" required>
                <mat-error>
                    <app-form-error [errors]="employeeForm.controls['emp_name'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="emp_email" type="email" required>
                <mat-error *ngIf="employeeForm.controls['emp_email'].invalid">
                    <app-form-error [errors]="employeeForm.controls['emp_email'].errors"></app-form-error>
                  </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="emp_phone" type="text">
                <mat-error>
                    <app-form-error [errors]="employeeForm.controls['emp_phone'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Location</mat-label>
                <input type="text" matInput [formControl]="locationFilterControl" [matAutocomplete]="autoLocation"
                    (blur)="onLocationBlur()">
                <mat-autocomplete #autoLocation="matAutocomplete" (optionSelected)="onLocationSelected($event)">
                    <mat-option *ngIf="(filteredLocations | async)?.length === 0" disabled>
                        No options available
                      </mat-option>
                    <mat-option *ngFor="let location of filteredLocations | async" [value]="location.lcm_name">
                        {{ location.lcm_name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Role</mat-label>
                <input type="text" matInput [formControl]="roleFilterControl" [matAutocomplete]="autoRole"
                    (blur)="onRoleBlur()">
                <mat-autocomplete #autoRole="matAutocomplete" (optionSelected)="onRoleSelected($event)">
                    <mat-option *ngIf="(filteredRoles | async)?.length === 0" disabled>
                        No options available
                      </mat-option>
                    <mat-option *ngFor="let role of filteredRoles | async" [value]="role.rlm_name">
                        {{ role.rlm_name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Keywords</mat-label>
                <input matInput formControlName="emp_keyword">
            </mat-form-field>
            <mat-radio-group formControlName="emp_isactive" appearance="fill" class="form-field">
                <mat-label>Active?</mat-label>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="photo-upload-container">
            <div class="upload-controls">
              <!-- Show 'Upload Profile Photo' button if no photo is selected -->
              <button *ngIf="!selectedFile" mat-raised-button type="button" (click)="fileUpload.click()" color="primary">
                <mat-icon>add_a_photo</mat-icon>
                Upload Profile Photo
              </button>
          
              <!-- Show 'Remove Photo' (cross icon) button if a photo is selected -->
               <div class="remove-photo">
              <button *ngIf="selectedFile" mat-icon-button (click)="removePhoto()">
                <mat-icon>close</mat-icon>
              </button>
          
              <input #fileUpload type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none">
              <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
            </div>
            </div>
          </div>
        
        <div class="submit-container">
            <button mat-raised-button color="primary" type="button" class="cancel"
                (click)="onCancel(form)">Cancel</button>

            <button mat-raised-button color="primary" type="submit" class="submit"
                [disabled]="employeeForm.invalid">Submit</button>
        </div>
    </form>
</mat-card>
<app-list-employee></app-list-employee>