<div class="candidates-container">
    <!-- Search Bar -->
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterCandidates()" placeholder="Search..." />
        <button mat-icon-button (click)="openFilter()">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-icon-button  (click)="submitSelectedCandidates() ">
            <mat-icon>group_add</mat-icon>
        </button>
    </div>

    <!-- <div class="candidateheading">
        <span>Candidates</span>
        <button mat-raised-button color="primary"
            type="button" class="linking" 
            style="background-color: #f8a1a1;"
            [disabled]="selectedCandidates.length === 0"
            onmouseover="this.style.backgroundColor='#d9534f'"
            onmouseout="this.style.backgroundColor='#f8a1a1'">
            (click)="submitSelectedCandidates()" 
            Update
        </button>
    </div> -->

    <!-- Candidate List with Checkboxes -->
    <div class="candidates-list">
        <div class="candidate-item" *ngFor="let candidate of filteredCandidates">
            <!-- Checkbox outside the candidate card -->
            <input type="checkbox" (change)="toggleSelection(candidate)" [style.accentColor]="selectedCandidates.includes(candidate) ? '#d9534f' : 'initial'" />


            <!-- Candidate Card -->
            <div class="candidate-card">
                <div class="candidate-header">
                    <div class="avatar-container">
                        <img *ngIf="candidate.avatar" [src]="candidate.avatar" alt="Avatar" class="avatar" />
                        <mat-icon *ngIf="!candidate.avatar">person_outline</mat-icon>
                    </div>
                    <div class="candidate-info">
                        <h3 class="candidate-name">{{ candidate.cdm_name }}</h3>
                        <p class="candidate-id">ID: {{ candidate.cdm_id }}</p>
                    </div>
                    <span class="status" >
                        {{ candidate.candidate_status.csm_code }}
                    </span>
                </div>

                <div class="skills">
                    <span *ngFor="let skill of candidate.cdm_keywords" class="skill-chip">
                        <mat-icon aria-hidden="false" class="icon1" style="font-size: 13px;">check_circle_outline</mat-icon>{{ skill }}
                    </span>
                </div>

                <span *ngIf="candidate.cdm_profile !== '#'">
                    <span>CV </span>
                    <a href="javascript:void(0);" (click)="openPdf('/assets/chatboat.pdf')" class="resume-link">
                        <mat-icon class="icon">save_alt</mat-icon> Resume.pdf
                    </a>
                </span>
                <span *ngIf="candidate.cdm_profile === '#'">CV Not Provided</span>
            </div>
        </div>
    </div>
</div>