<!-- Pop-up Form -->
<div class="popup-overlay" *ngIf="showPopup">
    <div class="popup-content">
        <!-- Cross Icon in Top-Right Corner -->
        <button mat-icon-button class="close-button" (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>

        <h2>Update Candidate Status</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="csm_code">Status Code</label>
                <select id="csm_code" [(ngModel)]="csm_code" name="csm_code"
                    required>
                    <option *ngFor="let status of statusList"
                        [value]="status.csm_code">{{ status.csm_code }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cdm_comment">Comment</label>
                <textarea id="cdm_comment" [(ngModel)]="cdm_comment"
                    name="cdm_comment"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="candidates-container"  [ngClass]="{'preview-open': isPreviewOpen}">

    <div class="candidateheading">
        <h1>Candidate Details </h1>
        <button mat-raised-button color="primary"
            type="button" class="linking" 
            style="background-color: #f8a1a1;"
            [disabled]="selectedCandidates.length === 0"
            onmouseover="this.style.backgroundColor='#d9534f'"
            onmouseout="this.style.backgroundColor='#f8a1a1'"
            (click)="submitSelectedCandidates()" >Link</button>
    </div> 


    <div class="search-container">
        <div class="search-bar">
            <input type="text" [(ngModel)]="searchTerm" (input)="filterCandidates()" placeholder="Search candidates..." />
            
            <div class="filter-overlay" *ngIf="showFilter" (click)="closeFilter($event)"></div>
            <div class="filter-container" *ngIf="showFilter" (click)="$event.stopPropagation()">
                <div class="filter-box">
                    <div class="filter-row">

                        <div class="filter-group">
                            <input type="text" [(ngModel)]="nameFilter" 
                                (input)="applyFilters()"
                                placeholder="Name"
                                class="filter-input">
                        </div>
                        
                        <div class="filter-group">
                            <input type="text" [(ngModel)]="emailFilter" 
                                (input)="applyFilters()"
                                placeholder="Email"
                                class="filter-input">
                        </div>

                        <div class="filter-group">
                            <mat-select multiple [(ngModel)]="selectedStatusFilters" 
                                    (selectionChange)="applyFilters()"
                                    class="filter-select" 
                                    panelClass="filter-select-panel"
                                    placeholder="Status">
                                <mat-option *ngFor="let status of statusList" [value]="status.csm_code">
                                    {{status.csm_code}}
                                </mat-option>
                            </mat-select>
                        </div>
                        
                        <div class="filter-group">
                            <input type="text" [(ngModel)]="skillsFilter" 
                                (input)="applyFilters()"
                                placeholder="Skills (comma sep)"
                                class="filter-input">
                        </div>
                        
                        <button mat-button class="reset-button" (click)="resetFilters()"><span>Reset</span></button>
                    </div>
                </div>
                <div class="filter-arrow"></div> <!-- Arrow pointing to the filter icon -->
            </div>
            
            <button mat-icon-button (click)="toggleFilter($event)">
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-icon-button (click)="redirectToAddCandidates()">
                <mat-icon>group_add</mat-icon>
            </button>
        </div>
    
        <!-- Filtered Candidates (Appears Above Full List When Searching) -->
        <div class="filtered-candidates-list" *ngIf="searchTerm?.trim()">
            <div class="filtered-candidate-item" *ngFor="let candidate of filteredCandidates; trackBy: trackByFn">
                <input type="checkbox"
                    (change)="toggleSelection(candidate)"
                    [style.accentColor]="selectedCandidates.includes(candidate) ? '#d9534f' : 'initial'" />
                <div class="filtered-candidate-card">
                    <div class="filtered-candidate-header">
                        <div class="avatar-container">
                            <mat-icon>person_outline</mat-icon>
                        </div>
                        <div class="candidate-info">
                            <h3 class="candidate-name">{{ candidate.cdm_name || 'Unknown' }}</h3>
                            <p class="candidate-id">ID: {{ candidate?.cdl_cdm_id }}</p>
                            <div class="status">Status: {{ candidate?.candidate_status?.csm_code || 'N/A' }}</div>
                        </div>
                        <div class="detail-box">
                            <span>Profile : </span>
                            <a href="javascript:void(0);" (click)="openPdf('assets/chatboat.pdf')">chatboat.pdf</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="candidates-list"  >
        <div class="candidate-item"
            *ngFor="let candidate of  candidates">
            <div class="candidate-card">
                <div class="candidate-header">
                    <div class="avatar-container">
                        <mat-icon>person_outline</mat-icon>
                    </div>
                    <div class="candidate-info" (click)="redirectTocandidateHistory( candidate?.cdl_cdm_id )">
                        <h3 class="candidate-name">{{ candidate.name ||
                            candidate.cdm_name }}</h3>
                        <p class="candidate-id">ID: {{ candidate?.cdl_cdm_id ||
                            candidate.cdm_id}}</p>
                        <p class="candidate-email">{{ candidate.email ||
                            candidate.cdm_email}}</p>
                    </div>
                    <div>
                        <select class="status"
                                [(ngModel)]="candidate.selectedStatus"
                                [ngClass]="getStatusClasses(candidate, !!searchTerm?.trim())"
                                *ngIf="statusedit"
                                (change)="onStatusChange(candidate, $event)">
                          <option *ngFor="let status of candidate.statusList"
                                  [value]="status.csm_code">
                            {{ status.csm_code }}
                          </option>
                        </select>
                      </div>
                      <div  class="status" [ngClass]="getStatusClass(candidate.candidate_status?.csm_code || '')"  *ngIf="!statusedit"> Status : {{ candidate.candidate_status.csm_code || 'N/A' }}</div>
                                  <!-- Three dots menu -->
                        <div class="menu-container">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="toggleStatusEdit()">Status Edit</button>
                                <button mat-menu-item (click)="openInterviewForm(candidate)">Schedule Interview</button>
                            </mat-menu>
                        </div>

                    </div>

                <div class="skills">
                    <ng-container *ngIf="candidate.keywords; else noKeywords">
                        <span
                            *ngFor="let keyword of candidate.keywords.split(',')"
                            class="skill-chip">
                            <mat-icon aria-hidden="false" class="icon1"
                                style="font-size: 13px;">check_circle_outline</mat-icon>
                            {{ keyword.trim() }}
                        </span>
                    </ng-container>
                    <ng-template #noKeywords>
                        <span class="skill-chip">N/A</span>
                    </ng-template>
                </div>

                <span class="Description">
                    Description: {{ candidate.description ||
                    candidate.cdm_description ||'N/A' }}
                </span>
            </div>
        </div>
    </div>
</div>