<div class="candidates-container">
    <!-- Search Bar -->
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterCandidates()" placeholder="Search..." />
        <button mat-icon-button (click)="openFilter()">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-icon-button (click)="submitSelectedCandidates() ">
            <mat-icon>group_add</mat-icon>
        </button>
    </div>

    <!-- <div class="candidateheading">
        <span>Candidates</span>
        <button mat-raised-button color="primary"
            type="button" class="linking" 
            style="background-color: #f8a1a1;"
            [disabled]="selectedCandidates.length === 0"
            onmouseover="this.style.backgroundColor='#d9534f'"
            onmouseout="this.style.backgroundColor='#f8a1a1'">
            (click)="submitSelectedCandidates()" 
            Update
        </button>
    </div> -->
    <div>
        <h1 class="mat-h3 header">Candidate Details</h1>
    </div>
    <div class="candidates-list">
        <div class="candidate-item" *ngFor="let candidate of searchTerm?.trim() ? filteredCandidates : candidates">

            <input *ngIf="searchTerm?.trim()" type="checkbox" (change)="toggleSelection(candidate)"
                [style.accentColor]="selectedCandidates.includes(candidate) ? '#d9534f' : 'initial'" />
            <div class="candidate-card">
                <div class="candidate-header">
                    <div class="avatar-container">
                        <mat-icon>person_outline</mat-icon>
                    </div>
                    <div class="candidate-info">
                        <h3 class="candidate-name">{{ candidate.name || candidate.cdm_name }}</h3>
                        <p class="candidate-id">ID: {{ candidate.cdl_cdm_id || candidate.cdl_cdm_id}}</p>
                        <p class="candidate-email">{{ candidate.email || candidate.cdm_email}}</p>
                    </div>
                    <select class="status" [(ngModel)]="candidate.candidate_status.csm_code"
                        [ngClass]="{'no-arrow': searchTerm?.trim()}">
                        <option *ngFor="let status of statusList" [value]="status.csm_code">
                            {{ status.csm_code }}
                        </option>
                    </select>
                </div>

                <div class="skills">
                    <ng-container *ngIf="candidate.keywords; else noKeywords">
                        <span *ngFor="let keyword of candidate.keywords.split(',')" class="skill-chip">
                            <mat-icon aria-hidden="false" class="icon1"
                                style="font-size: 13px;">check_circle_outline</mat-icon>
                            {{ keyword.trim() }}
                        </span>
                    </ng-container>
                    <ng-template #noKeywords>
                        <span class="skill-chip">N/A</span>
                    </ng-template>
                </div>

                <span class="Description">
                    Description: {{ candidate.candidate_status.csm_code || 'N/A' }}
                </span>
            </div>
        </div>
    </div>
</div>