<mat-card class="wrapper-padding">
    <h2>Practice Unit Master</h2>

    <form [formGroup]="practiceUnitForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap" fxLayoutGap="16px">
            <mat-form-field appearance="fill" fxFlex="31%">
                <mat-label>Practice Unit Name</mat-label>
                <input matInput formControlName="practice_unit_name" required>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="31%">
                <mat-label>Practice Unit Sales</mat-label>
                <input matInput formControlName="practice_unit_sales" required>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="31%">
                <mat-label>Practice Unit Delivery</mat-label>
                <input matInput formControlName="practice_unit_delivery"
                    required>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="31%">
                <mat-label>Practice Unit Solution</mat-label>
                <input matInput formControlName="practice_unit_solution"
                    required>
            </mat-form-field>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="primary"
                type="submit">Submit</button>
        </div>
    </form>
</mat-card>

<mat-card class="wrapper-m30 wrapper-padding">
    <app-list-practice-unit></app-list-practice-unit>
</mat-card>
