<div class="search-container">
    <h2 class="page-title">Employee List</h2>
   <div class="custom-search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" (keyup)="applyFilter($event)"
            placeholder="Search Employee ID, name, email, etc" />
    </div>
  </div>
<mat-card class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="emp_uniqueid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Id</th>
            <td mat-cell *matCellDef="let emp">{{ emp.emp_uniqueid }}</td>
        </ng-container>

        <ng-container matColumnDef="emp_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let emp">{{ emp.emp_name }}</td>
        </ng-container>

        <ng-container matColumnDef="emp_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let emp">{{ emp.emp_email }}</td>
        </ng-container>

        <ng-container matColumnDef="emp_phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let emp">{{ emp.emp_phone }}</td>
        </ng-container>

        <ng-container matColumnDef="emp_lcm_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let emp">{{ emp.lcm_name }}</td>
        </ng-container>

        <ng-container matColumnDef="emp_rlm_id">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let emp">{{ emp.rlm_name }}</td>
        </ng-container>

        <ng-container matColumnDef="emp_keyword">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Keyword</th>
            <td mat-cell *matCellDef="let emp">{{ emp.emp_keyword }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
    </table>
</mat-card>

<div class="custom-pagination">
    <div class="rows-per-page">
      Showing 
      <select [(ngModel)]="pageSize" (change)="onPageSizeChange()" class="custom-select">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
      </select> 
      of {{totalItems}}
    </div>
  
    <div class="pagination-buttons">
      <button (click)="previousPage()" [disabled]="currentPage === 1">&#8592;</button>
  
      <!-- Loop through pages to display first 3 pages, ellipsis, and last page -->
      <button *ngFor="let page of pages" 
              (click)="goToPage(page)" 
              [class.active]="page === currentPage">
        <!-- Display ellipsis -->
        <span *ngIf="page === -1">...</span>
        <!-- Display page number -->
        <span *ngIf="page !== -1">{{page}}</span>
      </button>
  
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">&#8594;</button>
    </div>
  </div>
  