.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8e9a1;
  padding: 20px 8px;
  border-radius: 15px;

  .search-container {
    display: flex;
    align-items: center;
    flex: 1;
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 50px;
    max-width: 500px;

    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 10px;
      background: transparent;
      padding-left: 15px;
      font-size: 16px;
      color: #727270;
    }

    .search-btn {
      background-color: #f4c542;
      border: none;
      padding: 10px 15px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
      color: black;

      &:hover {
        background-color: #e0b832;
      }
    }

  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: min-content;
    cursor: pointer;
  }

  .icons a {
    width: min-content;
    padding: 0px;
    background-color: #F8A1A1;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .icon {
    color: #555;
    font-size: 24px;
    transition: color 0.3s;
    display: flex;
    /* Ensures proper alignment */
    align-items: center;
    justify-content: center;
    width: min-content;
  }

  .icon:hover {
    color: #333;
  }
}




/* Search Button */


/* Icons */