<header class="header">
  <div class="search-container">
    <input type="text" placeholder="Search ..." [(ngModel)]="searchQuery" />
    <button class="search-btn">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="icons">
    <a mat-list-item routerLink="/entry">
      <!-- <mat-icon>assignment</mat-icon> -->
      Demand Entry
    </a>
    <a mat-list-item routerLink="/list">
      <mat-icon>assignment</mat-icon>
    </a>
    <mat-icon class="icon">notifications</mat-icon>
    <mat-icon class="icon">settings</mat-icon>
    <mat-icon class="icon">account_circle</mat-icon>
  </div>
</header>
