.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8e9a1;
  padding: 10px 20px;
  width: calc(100% - 20px); /* Account for left/right positioning */
  box-sizing: border-box;
  border-radius: 20px; /* Increased from 20px for more rounding */
  position: fixed;
  left: 10px; /* Consistent 10px on both sides */
  right: 10px; /* Consistent 10px on both sides */
  height: var(--header-height);
  z-index: 1000;
  overflow: hidden;
  margin: 0 auto; 

  .logo-container {
    width: 120px; /* Adjust as needed */
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    flex: 1;
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 50px;
    max-width: 500px;

    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 10px;
      background: transparent;
      padding-left: 15px;
      font-size: 16px;
      color: #727270;
    }

    .search-btn {
      background-color: #f4c542;
      border: none;
      padding: 10px 15px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
      color: black;

      &:hover {
        background-color: #e0b832;
      }
    }

  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: min-content;
    cursor: pointer;
  }

  .icons a {
    cursor: pointer;
    background: linear-gradient(to right, #FFC107, #FFB300);
    /* Subtle gradient */
    color: #333;
    border: none;
    padding: 0px 10px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover{
      background: linear-gradient(to right, #FFB300, #FFA000);
      transform: scale(1.05);  /* Slight scale effect */
    }
  }
  .icon {
  background: #FFC107;
  border: none;
  border-radius: 50%;
  padding: 20px;
  //padding: 20px 20px ;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  }

  .icon:hover {
    // color: #333;
    background: #FFB300;
    transform: scale(1.1);
  }
  
}
.mat-mdc-list-item{
  width: auto !important;
}


/* Search Button */


/* Icons */