<h2 class="page-title">LOB Master</h2>
<mat-card class="form-container">
    <form [formGroup]="lobForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="lob_name" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Description</mat-label>
                <input matInput formControlName="lob_description">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Delivery Manager</mat-label>
                <mat-select formControlName="lob_deliverymanager">
                    <mat-option *ngFor="let dm of deliveryManagers"
                        [value]="dm.emp_id">
                        {{ dm.emp_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Client Partner</mat-label>
                <mat-select formControlName="lob_clientpartner">
                    <mat-option *ngFor="let cp of clientPartners"
                        [value]="cp.emp_id">
                        {{ cp.emp_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="primary"
                type="button" class="cancel" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary"
                type="submit" class="submit">Submit</button>
        </div>
    </form>
</mat-card>

<app-list-lob></app-list-lob>
