<h2 class="page-title">LOB Master</h2>
<mat-card class="form-container">
    <form #form="ngForm" [formGroup]="lobForm" (ngSubmit)="onSubmit(form)">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="lob_name" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Description</mat-label>
                <input matInput formControlName="lob_description">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Delivery Manager</mat-label>
                <input
                    type="text"
                    matInput
                    [formControl]="deliveryManagerFilterControl"
                    [matAutocomplete]="dmAuto"
                    (blur)="onDeliveryManagerBlur()" 
                    required
                >
                <mat-autocomplete #dmAuto="matAutocomplete" (optionSelected)="onDeliveryManagerSelected($event)">
                    <mat-option *ngIf="(filteredDeliveryManagers | async)?.length === 0" disabled>
                        No options available
                      </mat-option>
                    <mat-option *ngFor="let dm of filteredDeliveryManagers | async" [value]="dm.emp_name">
                        {{ dm.emp_name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Client Partner</mat-label>
                <input
                    type="text"
                    matInput
                    [formControl]="clientPartnerFilterControl"
                    [matAutocomplete]="cpAuto"
                    (blur)="onClientPartnerBlur()" 
                    required
                >
                <mat-autocomplete #cpAuto="matAutocomplete" (optionSelected)="onClientPartnerSelected($event)">
                    <mat-option *ngIf="(filteredClientPartners | async)?.length === 0" disabled>
                        No options available
                      </mat-option>
                    <mat-option *ngFor="let cp of filteredClientPartners | async" [value]="cp.emp_name">
                        {{ cp.emp_name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="warn" type="button" class="cancel" (click)="onCancel()">
                Cancel
              </button>
            <button mat-raised-button color="primary"
                type="submit" class="submit"  [disabled]="lobForm.invalid">Submit</button>
        </div>
    </form>
</mat-card>

<app-list-lob></app-list-lob>
