<h2>Sub Unit List</h2>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="practice_unit_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Name</th>
      <td mat-cell *matCellDef="let practiceUnit">{{ practiceUnit.practice_unit_name }}</td>
    </ng-container>

    <ng-container matColumnDef="practice_unit_sales">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Sales</th>
      <td mat-cell *matCellDef="let practiceUnit">{{ practiceUnit.practice_unit_sales }}</td>
    </ng-container>

    <ng-container matColumnDef="practice_unit_delivery">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Delivery</th>
      <td mat-cell *matCellDef="let practiceUnit">{{ practiceUnit.practice_unit_delivery }}</td>
    </ng-container>

    <ng-container matColumnDef="practice_unit_solution">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Solution</th>
        <td mat-cell *matCellDef="let practiceUnit">{{ practiceUnit.practice_unit_solution }}</td>
      </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
