<mat-card class="form-container">
    <h2 class="page-title">Entry</h2>
    <form #form="ngForm" [formGroup]="clientForm" (ngSubmit)="onSubmit(form)">
        <div class="form-row">
            <mat-form-field class="form-field" floatLabel="always">
                <mat-label>Client Id</mat-label>
                <div class="Input">  <input matInput formControlName="clm_clientid"></div>
                <!-- <mat-error>
                    <app-form-error
                        [errors]="clientForm.controls['clm_clientid'].errors"></app-form-error>
                </mat-error> -->

                <mat-error *ngIf="clientForm.controls['clm_clientid'].hasError('serverError')">
                    {{ clientForm.controls['clm_clientid'].getError('serverError') }}
                  </mat-error>
                  
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                <mat-label>Name</mat-label>
                <div class="Input"> <input matInput formControlName="clm_name" required></div>
                <mat-error *ngIf="clientForm.controls['clm_name'].hasError('required')">
                    Name is required.
                  </mat-error>
                  <mat-error *ngIf="clientForm.controls['clm_name'].hasError('serverError')">
                    {{ clientForm.controls['clm_name'].getError('serverError') }}
                  </mat-error>
            </mat-form-field>

            <mat-form-field  class="form-field" floatLabel="always">
                <mat-label>Manager Name</mat-label>
                <div class="Input"> <input matInput formControlName="clm_managername"></div>
                
                <mat-error *ngIf="clientForm.controls['clm_managername'].hasError('serverError')">
                    {{ clientForm.controls['clm_managername'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                <mat-label>Email</mat-label>
                <div class="Input"> <input matInput formControlName="clm_clientemail" type="email"></div>

                <mat-error *ngIf="clientForm.controls['clm_clientemail'].hasError('serverError')">
                    {{ clientForm.controls['clm_clientemail'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field class="form-field"  floatLabel="always">
                <mat-label>Phone</mat-label>
                <div class="Input"> <input matInput formControlName="clm_clientphone"></div>

                <mat-error *ngIf="clientForm.controls['clm_clientphone'].hasError('serverError')">
                    {{ clientForm.controls['clm_clientphone'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                <mat-label>Address</mat-label>
                <div class="Input"> <input matInput formControlName="clm_address"></div>

                <mat-error *ngIf="clientForm.controls['clm_address'].hasError('serverError')">
                    {{ clientForm.controls['clm_address'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
            <mat-label>Location</mat-label>
            <div class="Input">   <input
                    type="text"
                    matInput
                    [formControl]="locationFilterControl"
                    [matAutocomplete]="auto"
                    (blur)="onLocationBlur()"
                    (input)="onLocationInput($event)"
                >
                <button mat-icon-button matSuffix disableRipple tabIndex="-1" type="button">
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
            </div>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLocationSelected($event)">
                    <mat-option *ngIf="(filteredLocations | async)?.length === 0" disabled>
                        No options available
                      </mat-option>
                  <mat-option *ngFor="let location of filteredLocations | async" [value]="location.lcm_name">
                    {{ location.lcm_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <div formControlName="clm_isactive" class="form-field custom-checkbox-group" floatLabel="always">
                <mat-label>Active?</mat-label>
                <mat-checkbox class="custom-checkbox" color="primary" [checked]="true" (change)="updateActive(true)">Yes</mat-checkbox>
                <mat-checkbox class="custom-checkbox" color="primary" [checked]="false" (change)="updateActive(false)">No</mat-checkbox>
              </div>
              
        </div>

        <div class="logo-upload-container">
            <div class="upload-controls">
                <button mat-raised-button type="button" *ngIf="!selectedLogo" (click)="fileInput.click()" color="primary">
                    <mat-icon>add_photo_alternate</mat-icon>
                    Upload Logo
                  </button>
                <div class="remove-photo" >
              <button mat-icon-button *ngIf="selectedLogo" (click)="removeLogo()">
                <mat-icon>close</mat-icon>
              </button>
              
              <input #fileInput class="input" type="file" (change)="onLogoSelected($event)" accept="image/*" style="display: none">
              <span class="file-name" *ngIf="selectedLogo">{{ selectedLogo.name }}</span>
            </div>
            </div>
          </div>
        <div class="submit-container">
            <button mat-raised-button color="primary" type="button" class="cancel" (click)="onCancel()">Cancel</button>

            <button mat-raised-button color="primary" type="submit" class="submit" [disabled]="clientForm.invalid">
                Submit
            </button>
        </div>
    </form>
</mat-card>

<app-list-client></app-list-client>