<h2 class="page-title">Client Master Entry</h2>
<mat-card class="form-container">
    <form #form="ngForm" [formGroup]="clientForm" (ngSubmit)="onSubmit(form)">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Client Id</mat-label>
                <input matInput formControlName="clm_clientid">
                <!-- <mat-error>
                    <app-form-error
                        [errors]="clientForm.controls['clm_clientid'].errors"></app-form-error>
                </mat-error> -->
                <mat-error *ngIf="clientForm.controls['clm_name'].hasError('serverError')">
                    {{ clientForm.controls['clm_name'].getError('serverError') }}
                  </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="clm_name" required>
                <mat-error *ngIf="clientForm.controls['clm_name'].hasError('required')">
                    Name is required.
                  </mat-error>
                  <mat-error *ngIf="clientForm.controls['clm_name'].hasError('serverError')">
                    {{ clientForm.controls['clm_name'].getError('serverError') }}
                  </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Manager Name</mat-label>
                <input matInput formControlName="clm_managername">
                
                <mat-error *ngIf="clientForm.controls['clm_managername'].hasError('serverError')">
                    {{ clientForm.controls['clm_managername'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="clm_clientemail" type="email">

                <mat-error *ngIf="clientForm.controls['clm_clientemail'].hasError('serverError')">
                    {{ clientForm.controls['clm_clientemail'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="clm_clientphone">

                <mat-error *ngIf="clientForm.controls['clm_clientphone'].hasError('serverError')">
                    {{ clientForm.controls['clm_clientphone'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Address</mat-label>
                <input matInput formControlName="clm_address">

                <mat-error *ngIf="clientForm.controls['clm_address'].hasError('serverError')">
                    {{ clientForm.controls['clm_address'].getError('serverError') }}
                </mat-error> 

            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Location</mat-label>
                <input
                    type="text"
                    matInput
                    [formControl]="locationFilterControl"
                    [matAutocomplete]="auto"
                    (blur)="onLocationBlur()"
                    (input)="onLocationInput($event)"
                >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLocationSelected($event)">
                    <mat-option *ngFor="let location of filteredLocations | async" [value]="location.lcm_name">
                        {{ location.lcm_name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-radio-group formControlName="clm_isactive" appearance="fill" class="form-field">
                <mat-label>Active?</mat-label>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="primary" type="button" class="cancel" (click)="onCancel()">Cancel</button>

            <button mat-raised-button color="primary" type="submit" class="submit" [disabled]="clientForm.invalid">
                Submit
            </button>
        </div>
    </form>
</mat-card>

<app-list-client></app-list-client>