<h2 class="page-title">Client Master Entry</h2>
<mat-card class="form-container">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Client Id</mat-label>
                <input matInput formControlName="clm_clientid">
                <!-- <mat-error>
                    <app-form-error
                        [errors]="clientForm.controls['clm_clientid'].errors"></app-form-error>
                </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="clm_name" required>
                <mat-error>
                    <app-form-error [errors]="clientForm.controls['clm_name'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Manager Name</mat-label>
                <input matInput formControlName="clm_managername">
                <mat-error>
                    <app-form-error [errors]="clientForm.controls['clm_managername'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="clm_clientemail" type="email">
                <mat-error>
                    <app-form-error [errors]="clientForm.controls['clm_clientemail'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="clm_clientphone">
                <mat-error>
                    <app-form-error [errors]="clientForm.controls['clm_clientphone'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Address</mat-label>
                <input matInput formControlName="clm_address">
                <mat-error>
                    <app-form-error [errors]="clientForm.controls['clm_address'].errors"></app-form-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Location</mat-label>
                <mat-select formControlName="clm_lcm_id">
                    <mat-option *ngFor="let location of locations" [value]="location.lcm_id">
                        {{ location.lcm_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-radio-group formControlName="clm_isactive" appearance="fill" class="form-field">
                <mat-label>Active?</mat-label>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="primary" type="button" class="cancel" (click)="onCancel()">Cancel</button>

            <button mat-raised-button color="primary" type="submit" class="submit">Submit</button>
        </div>
    </form>
</mat-card>

<app-list-client></app-list-client>