.overview {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.card {
    flex: 1;
    width: 756px;
    height: 243px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.charts {
    width: 756px;
    height: 243px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.target .progress-item {
    margin-bottom: 12px;
}

.widgets {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-direction: row;
}

.announcement,
.target {
    width: 50%;
    display: flex;
    padding: 30px;
}

.welcome-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #e0c4ff;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 756px;
    height: auto;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dashboard-cards .card {
    width: 181.5px;
    height: 118px;
    padding: 12px;
    border-radius: 15px;
    border-left: 4px solid;
    background: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

.card h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.5px;
    margin-bottom: 6px;
}

.number-bubble {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    color: black;
}

.yellow {
    border-left-color: #F7CB15 !important;
}

.pink {
    border-left-color: #F9C6C6 !important;
}

.purple {
    border-left-color: #6E3A95 !important;
}

.blue {
    border-left-color: #15CAF7 !important;
}

.number-bubble {
    background-color: #FAEEBF;
}

.pink .number-bubble {
    background-color: #FFE7E7;
}

.purple .number-bubble {
    background-color: #D5C3E3;
    color: white;
}

.blue .number-bubble {
    background-color: #B0DBE6;
    color: white;
}


.dashboard-cards {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0%;
    height: auto;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
}


.position-cards {
    width: 756px;
    height: 74px;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

}

.position-cards .card {
    display: flex;
    align-items: center;
    width: 373px;
    height: 74px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    // background-color: white;
    font-size: 24px;
    color: #6C63FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-right: 15px;
}

.number {
    font-size: 22px;
    color: black;
    background: white;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.show-more {
    font-weight: normal;
    font-size: 12px;
    color: #6CC3FF;
    text-decoration: none;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}

.chart-card,
.target-card {
    flex: 1;
    min-width: 314.67px;
    height: 243px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
}

.target-container {
    display: flex;
    gap: 20px;
}

.progress-label {
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.progress-value {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    color: black;
}


mat-progress-bar {
    flex: 1;
    height: 8px;
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .target-card {
        width: 100%;
        min-width: unset;
    }
}