<div class="dashboard-cards">
  <div class="card yellow">
    <h5 class="head">Total Open T&M Demands</h5>
    <span class="number-bubble">20</span>
  </div>

  <div class="card pink">
    <h5 class="head">Total Non T&M Demands</h5>
    <span class="number-bubble">20</span>
  </div>

  <div class="card purple">
    <h5 class="head">Total India Open Demands</h5>
    <span class="number-bubble">6</span>
  </div>

  <div class="card blue">
    <h5 class="head">Total Non India Open Demands</h5>
    <span class="number-bubble">32</span>
  </div>
</div>


<!-- Graphs and Charts -->
<div class="charts">
  <mat-card class="target-card">
    <ngx-charts-pie-chart [results]="pieChartData" [view]="[250,250]" [legend]="true"></ngx-charts-pie-chart>

  </mat-card>

  <!-- Target Progress Card -->
  <mat-card class="target-card">
    <h5 class="head">Target Progress</h5>
    <mat-card-content>
      <div *ngFor="let progress of progressData" class="progress-item">
        <span class="progress-label">{{ progress.name }}</span>
        <div class="progress-container">
          <mat-progress-bar [value]="progress.value" mode="determinate"
            style="--mdc-linear-progress-active-indicator-color: #A07CBC">
          </mat-progress-bar>
          <span class="progress-value">{{ progress.value }}%</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<!-- Position Cards -->
<div class="position-cards">
  <div class="card">
    <div class="icon">
      <mat-icon>show_chart</mat-icon>
    </div>
    <div class="content">
      <p class="title">New positions opened last week</p>
      <a href="#" class="show-more">Show more</a>
    </div>
  </div>

  <div class="card">
    <div class="icon number">21</div>
    <div class="content">
      <p class="title">New positions opened last week</p>
      <a href="#" class="show-more">Show them</a>
    </div>
  </div>
</div>