<div class="search-container">
  <h2 class="page-title">LOB List</h2>
  <!-- Search Box -->
  <mat-form-field appearance="outline" class="search-box">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)"
          placeholder="Filter data">
      <mat-icon>search</mat-icon>
  </mat-form-field>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="lcm_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</th>
      <td mat-cell *matCellDef="let location">{{ location.lcm_name }}</td>
    </ng-container>

    <ng-container matColumnDef="lcm_state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let location">{{ location.lcm_state }}</td>
    </ng-container>

    <ng-container matColumnDef="lcm_country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let location">{{ location.lcm_country }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons></mat-paginator>
