<div class="list_container">
<div class="search-container">
  <h2 class="page-title">List</h2>
  <div class="custom-search-box">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="text" (keyup)="applyFilter($event)"
      placeholder="Search Location name, state, etc" />
  </div>
</div>
<mat-card class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="lcm_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</th>
      <td mat-cell *matCellDef="let location">{{ location.lcm_name }}</td>
    </ng-container>

    <ng-container matColumnDef="lcm_state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let location">{{ location.lcm_state }}</td>
    </ng-container>

    <ng-container matColumnDef="lcm_country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let location">{{ location.lcm_country }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
  </table>
</mat-card>

<div class="custom-pagination">
  <div class="rows-per-page">
    Showing 
    <select [(ngModel)]="pageSize" (change)="onPageSizeChange()" class="custom-select">
      <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
    </select> 
    of {{totalItems}}
  </div>

  <div class="pagination-buttons">
    <button (click)="previousPage()" [disabled]="currentPage === 1">&#8592;</button>

    <!-- Loop through pages to display first 3 pages, ellipsis, and last page -->
    <button *ngFor="let page of pages" 
            (click)="goToPage(page)" 
            [class.active]="page === currentPage">
      <!-- Display ellipsis -->
      <span *ngIf="page === -1">...</span>
      <!-- Display page number -->
      <span *ngIf="page !== -1">{{page}}</span>
    </button>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">&#8594;</button>
  </div>
</div>
</div>

