
.search-box mat-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: gray;
  }

.search-box {
    border-color: black;
    overflow: hidden;
    background: #fff;
}

.table-container table th {
    background-color: #f8f8f8; 
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.table-container {
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

table.mat-table {
    border-radius: 12px;
    overflow: hidden; 
    background: white; 
}

/* alternating row colors */
.table-container table tr:nth-child(even) {
    background-color: #ffecec; 
}

.table-container table tr:nth-child(odd) {
    background-color: #ffffff; 
}

.table-container table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
