
.search-box mat-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    color: gray;
  }

.search-box {
    border-color: black;
    overflow: hidden;
    background: #fff;
}

.table-container table th {
    background-color: #f8f8f8; /* Light gray for headers */
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.table-container {
    border-radius: 12px;
    overflow: hidden; /* Ensures border-radius applies properly */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

table.mat-table {
    border-radius: 12px;
    overflow: hidden; 
    background: white; /* Ensures background is applied properly */
}

/* Style for alternating row colors */
.table-container table tr:nth-child(even) {
    background-color: #ffecec; /* Light pink */
}

.table-container table tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

/* Add padding and border to cells */
.table-container table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

::ng-deep .mat-paginator-navigation-next{
    color: yellow !important;
  }
  
  