/* For the Location column */
.mat-column-dem_lcm_id {
    width: 15%;
    max-width: 15%;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5 !important;
  }
  
  /* For the Skills column */
  .mat-column-dem_skillset {
    width: 15%;
    max-width: 15%;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5 !important;
  }