<mat-card class="form-container">
  <h3 class="page-title">Entry</h3>
  <form #form="ngForm" [formGroup]="candidateForm" (ngSubmit)="onSubmit(form)">
    <div class="form-row">

      <mat-form-field  floatLabel="always" class="form-field">
        <mat-label>Emp Id</mat-label>
      <div class="Input">  <input matInput formControlName="cdm_emp_id" required></div>
        <mat-error>
          <app-form-error [errors]="candidateForm.controls['cdm_emp_id'].errors"></app-form-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="form-field">
        <mat-label>Name</mat-label>
        <div class="Input">  <input matInput formControlName="cdm_name" required></div>
        <mat-error>
          <app-form-error [errors]="candidateForm.controls['cdm_name'].errors"></app-form-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="form-field">
        <mat-label>Email</mat-label>
        <div class="Input">   <input matInput formControlName="cdm_email" type="email" required></div>
        <mat-error>
          <app-form-error [errors]="candidateForm.controls['cdm_email'].errors"></app-form-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="form-field">
        <mat-label>Phone</mat-label>
        <div class="Input">   <input matInput formControlName="cdm_phone" type="text" required></div>
        <mat-error>
          <app-form-error [errors]="candidateForm.controls['cdm_phone'].errors"></app-form-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="form-field">
        <mat-label>Location <span class="required"></span></mat-label>
        <div class="Input">   <input type="text" matInput [formControl]="locationFilterControl" [matAutocomplete]="auto"
          (blur)="onLocationBlur()" required></div>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLocationSelected($event)">
          <mat-option *ngIf="(filteredLocations | async)?.length === 0" disabled>
            No options available
          </mat-option>
          <mat-option *ngFor="let location of filteredLocations | async" [value]="location.lcm_name">
            {{ location.lcm_name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="candidateForm.controls['cdm_location'].hasError('required')">
          Location is required.
        </mat-error>
      </mat-form-field>


      <div class="file-input-container">
        <mat-label for="cdm_profile">Upload Profile</mat-label>
        <input type="file" (change)="onFileSelected($event)" #fileInput >
      </div>

      <mat-form-field floatLabel="always" class="form-field">
        <mat-label>Description</mat-label>
        <div class="Input">   <input matInput formControlName="cdm_description"></div>
        <mat-error>
          <app-form-error [errors]="candidateForm.controls['cdm_description'].errors"></app-form-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="form-field">
        <mat-label>Keywords</mat-label>
        <div class="Input">   <input matInput formControlName="cdm_keywords"></div>
        <mat-error>
          <app-form-error [errors]="candidateForm.controls['cdm_keywords'].errors"></app-form-error>
        </mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="cdm_isinternal" class="form-field">
        <mat-label>Internal?</mat-label>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>

      <!-- ... other form fields ... -->

<mat-radio-group formControlName="cdm_isactive" class="form-field">
  <mat-label>Active?</mat-label>
  <mat-radio-button [value]="true">Yes</mat-radio-button>
  <mat-radio-button [value]="false">No</mat-radio-button>
</mat-radio-group>
    </div>
    <!-- Photo upload moved here -->
<div class="photo-upload-container">
  <div class="upload-controls">
    <button *ngIf="!selectedPhoto" mat-raised-button type="button" (click)="photoInput.click()" color="primary">
      <mat-icon>add_a_photo</mat-icon>
      Upload Profile Photo
    </button>
   <div class="remove-photo" >
    <button *ngIf="selectedPhoto" mat-icon-button (click)="removePhoto()">
      <mat-icon>close</mat-icon>
    </button>
  
    <input class="input" #photoInput type="file" (change)="onPhotoSelected($event)" accept="image/*" style="display: none">
    <span class="file-name" *ngIf="selectedPhoto">{{ selectedPhoto.name }}</span>
  </div></div>
</div>

    <div class="submit-container">
      <button mat-raised-button color="primary" type="button" class="cancel" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" class="submit"
        [disabled]="candidateForm.invalid">Submit</button>
    </div>
  </form>
</mat-card>

<app-list-candidate></app-list-candidate>