<h2 class="page-title">Internal Department Master Entry</h2>
<mat-card class="form-container">
    <form [formGroup]="deptForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Unit Name</mat-label>
                <input matInput formControlName="idm_unitname" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Unit Sales</mat-label>
                <input matInput formControlName="idm_unitsales" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Unit Delivery</mat-label>
                <input matInput formControlName="idm_unitdelivery"
                    required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Unit Solution</mat-label>
                <input matInput formControlName="idm_unitsolution" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>SPOC</mat-label>
                <mat-select formControlName="idm_spoc_id">
                  <mat-option *ngFor="let emp of deliveryManagers" [value]="emp.emp_id">
                    {{ emp.emp_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Delivery Manager</mat-label>
                <mat-select formControlName="idm_deliverymanager_id">
                  <mat-option *ngFor="let emp of spoc" [value]="emp.emp_id">
                    {{ emp.emp_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-radio-group formControlName="idm_isactive" appearance="fill"
                class="form-field">
                <mat-label>Active?</mat-label>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="primary"
                type="submit" class="cancel">Cancel</button>
            <button mat-raised-button color="primary"
                type="submit" class="submit">Submit</button>
        </div>
    </form>
</mat-card>

<app-list-internal-department></app-list-internal-department>
