<h2 class="page-title">Internal Department Master Entry</h2>
<mat-card class="form-container">
  <form #form="ngForm" [formGroup]="deptForm" (ngSubmit)="onSubmit(form)">
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Unit Name</mat-label>
        <input matInput formControlName="idm_unitname" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Unit Sales</mat-label>
        <input matInput formControlName="idm_unitsales" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Unit Delivery</mat-label>
        <input matInput formControlName="idm_unitdelivery" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Unit Solution</mat-label>
        <input matInput formControlName="idm_unitsolution" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>SPOC</mat-label>
        <input
          type="text"
          matInput
          [formControl]="spocFilterControl"
          [matAutocomplete]="autoSpoc"
          (blur)="onSpocBlur()"
        >
        <mat-autocomplete #autoSpoc="matAutocomplete" (optionSelected)="onSpocSelected($event)">
          <mat-option *ngFor="let emp of filteredSpocs | async" [value]="emp.emp_name">
            {{ emp.emp_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Delivery Manager</mat-label>
        <input
          type="text"
          matInput
          [formControl]="deliveryManagerFilterControl"
          [matAutocomplete]="autoDeliveryManager"
          (blur)="onDeliveryManagerBlur()"
        >
        <mat-autocomplete #autoDeliveryManager="matAutocomplete" (optionSelected)="onDeliveryManagerSelected($event)">
          <mat-option *ngFor="let emp of filteredDeliveryManagers | async" [value]="emp.emp_name">
            {{ emp.emp_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-radio-group formControlName="idm_isactive" appearance="fill" class="form-field">
        <mat-label>Active?</mat-label>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="submit-container">
      <button mat-raised-button color="primary" type="button" class="cancel" (click)="onCancel()">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit" class="submit" [disabled]="deptForm.invalid">Submit</button>
    </div>
  </form>
</mat-card>

<app-list-internal-department></app-list-internal-department>