<h2 class="page-title">Candidate List</h2>
    <div class="search-container">
        <input type="text" [(ngModel)]="searchData.emp_id" placeholder="Employee ID">
        <input type="text" [(ngModel)]="searchData.name" placeholder="Name">
        <input type="email" [(ngModel)]="searchData.email" placeholder="Email">
        <input type="tel" [(ngModel)]="searchData.phone" placeholder="Phone">
        <input type="text" [(ngModel)]="searchData.location" placeholder="Location">
        <input type="text" [(ngModel)]="searchData.keywords" placeholder="Keyword">
        <div class="footer-section">
         <button (click)="search()" class="search-button">Search</button>
         <button (click)="resetserachfilter()" class="search-button">Reset</button>
        </div>
    </div>    

<mat-card *ngIf="!filterserach" class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="cdm_emp_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Id</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_emp_id
                }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_name
                }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_email
                }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_phone
                }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let candidate">{{candidate.lcm_name}}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_profile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
            <td mat-cell *matCellDef="let candidate">
                <a *ngIf="candidate.cdm_profile" [href]="candidate.cdm_profile" target="_blank" class="profile-link">
                    {{ extractFilename(candidate.cdm_profile) }}
                </a>
                <span *ngIf="!candidate.cdm_profile">N/A</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="cdm_keywords">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Keyword</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_keywords
                }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>

<!-- Second Table (Shown when filterserach is true) -->
<mat-card *ngIf="filterserach" class="table-container">
    <div *ngIf="dataSource2.length === 0" class="no-results-message">
        No matched candidates found
      </div>
      
      <table *ngIf="dataSource2.length > 0" mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="cdm_emp_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Id</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_emp_id }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_name }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_email }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_phone }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_location }}</td>
        </ng-container>

        <ng-container matColumnDef="cdm_profile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
            <td mat-cell *matCellDef="let candidate">
                <a *ngIf="candidate.cdm_profile" [href]="candidate.cdm_profile" target="_blank" class="profile-link">
                    {{ extractFilename(candidate.cdm_profile) }}
                </a>
                <span *ngIf="!candidate.cdm_profile">N/A</span>
            </td>
        </ng-container>        

        <ng-container matColumnDef="cdm_keywords">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Keyword</th>
            <td mat-cell *matCellDef="let candidate">{{ candidate.cdm_keywords }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>



<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>