.left-sidebar {
  width: 20.64%;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}

.left-sidebar.collapsed {
  width: 70px;
}

.content-area {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: calc(100% - 290px);
}

.content-area.expanded {
  width: calc(100% - 70px);
}

/* Global Reset */
:root {
  --header-height: 60px;
}
