<app-loader [isLoading]="(isLoading | async) ?? false"></app-loader> 

<div class="main-layout">
  <div class="grid-container">

    <!-- Left Sidebar -->
    <div class="left-sidebar" [class.collapsed]="isCollapsed">
      <app-left-siderbar (collapseChange)="togglesidenav($event)"></app-left-siderbar>
    </div>

    <!-- Main Content Section -->
    <div class="content-area" [ngClass]="{ 'expanded': isCollapsed }">


      <!-- Full-Width Header -->
      <app-header></app-header>

      <!-- Main Content & Reports Sidebar -->
      <div class="content-wrapper">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>
</div>
