<h2 class="page-title">Demand Entry</h2>
<mat-card class="form-container">
  <form [formGroup]="demandForm" (ngSubmit)="onSubmit()">

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>CTool Number</mat-label>
        <input matInput formControlName="dem_ctoolnumber">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>CTool Date</mat-label>
        <input matInput [matDatepicker]="picker"
          formControlName="dem_ctooldate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Hiring Manager</mat-label>
        <mat-select formControlName="dem_clm_id" (selectionChange)="onHiringManagerChange($event)" required>
          <mat-option *ngFor="let client of clients" [value]="client.clm_id">
            {{ client.clm_name }}
          </mat-option>
          <mat-option [value]="'custom'">Other (Enter New)</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Show the input field only when 'Other (Enter New)' is selected -->
      <div *ngIf="customEntryEnabled">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Enter New Hiring Manager</mat-label>
          <input matInput [(ngModel)]="clm_name" [ngModelOptions]="{standalone: true}" required>
        </mat-form-field>
      
        <div class="button-group">
          <button mat-raised-button color="accent" type="button" (click)="addClient()">Add</button>
          <button mat-stroked-button color="accent" class="small-button" (click)="navigateToClientMaster()">Add More Details</button>
        </div>
      </div>
      
      
      

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Manager Email</mat-label>
        <input matInput formControlName="clm_email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Hiring manager location</mat-label>
        <mat-select formControlName="dem_lcm_id">
          <mat-option *ngFor="let location of locations"
            [value]="location.lcm_id">
            {{ location.lcm_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Tentative Required By</mat-label>
        <input matInput [matDatepicker]="datePicker"
          formControlName="dem_validtill"
          [min]="minDate">
        <mat-datepicker-toggle matSuffix
          [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Skillset</mat-label>
        <textarea matInput formControlName="dem_skillset"
          maxlength="500"></textarea>
      </mat-form-field>

      

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>LOB</mat-label>
        <mat-select formControlName="dem_lob_id" required>
          <mat-option *ngFor="let lob of lobs" [value]="lob.lob_id">
            {{ lob.lob_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Internal Department</mat-label>
        <mat-select formControlName="dem_idm_id">
          <mat-option *ngFor="let dept of depts" [value]="dept.idm_id">
            {{ dept.idm_unitname}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Position Name</mat-label>
        <input matInput formControlName="dem_position_name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>No Of Positions</mat-label>
        <input matInput formControlName="dem_positions" required>
      </mat-form-field>

      <!-- Internal or External Selection -->
      <!-- <mat-radio-group formControlName="isInternal" class="mat-accent">
        <mat-radio-button value="yes">Internal</mat-radio-button>
        <mat-radio-button value="no">External</mat-radio-button>
      </mat-radio-group> -->

      <!-- RR Number Field (Visible when "Yes" is selected) -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>RR Number</mat-label>
        <input matInput formControlName="dem_rrnumber">
      </mat-form-field>

      <!-- JR Number Field (Visible when "No" is selected) -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>JR Number</mat-label>
        <input matInput formControlName="dem_jrnumber">
      </mat-form-field>

      <!-- <mat-radio-group formControlName="dem_isreopened" appearance="fill"
      class="form-field" class="mat-accent">
        <mat-label>Reopen</mat-label>
        <mat-radio-button value="yes">Yes</mat-radio-button>
        <mat-radio-button value="no">No</mat-radio-button>
      </mat-radio-group> -->

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>GCB Level</mat-label>
        <input matInput formControlName="dem_gcblevel">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>RR Grade</mat-label>
        <input matInput formControlName="dem_rrgade">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Mandatory Skill Set</mat-label>
        <input matInput formControlName="dem_mandatoryskill">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="dem_comment" rows="3"></textarea>
      </mat-form-field>

      <div class="file-input-container">
        <label for="job_description">Upload Job Description</label>
        <input type="file" id="dem_jd" (change)="onFileSelected($event)">
      </div>

      <mat-radio-group formControlName="dem_isactive" appearance="fill"
        class="form-field" class="mat-accent">
        <mat-label>Active?</mat-label>
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="submit-container">
      <button mat-raised-button color="primary"
        type="submit" class="cancel" (click)=cancel()>Cancel</button>
      <button mat-raised-button color="primary"
        type="submit" class="submit"> {{ isEditMode ? 'Update' : 'Submit'
        }}</button>
    </div>
  </form>
</mat-card>

<!-- <app-list-open-demands></app-list-open-demands> -->