<h2 class="page-title">Demand Entry</h2>
<mat-card class="form-container">
  <form [formGroup]="demandForm" (ngSubmit)="onSubmit()">

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Hiring Manager</mat-label>
        <input type="text" matInput formControlName="dem_clm_id" [matAutocomplete]="auto"
          (input)="onInputChange($event)" required>
        <button *ngIf="demandForm.get('dem_clm_id')?.value" mat-icon-button matSuffix
          (click)="clearClientSelection(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onHiringManagerChange($event)"
          [displayWith]="displayClient">  
          <mat-option *ngIf="filteredClients.length === 0" disabled>
            No options available
          </mat-option>
          <mat-option *ngFor="let client of filteredClients | async" [value]="client">
            {{ client.clm_clientid ? client.clm_clientid + ' - ' : '' }}
            {{ client.clm_name ? client.clm_name : '' }}
            {{ client.clm_managername ? ' (' + client.clm_managername + ')' : ''
            }}
          </mat-option>
          <mat-option *ngIf="!matchFound && typedValue" [value]="'custom'" >
            {{ typedValue }} (Add New)
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="demandForm.controls['dem_clm_id'].hasError('serverError')">
          {{ demandForm.controls['dem_clm_id'].errors?.['serverError'] }}
      </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Manager Email</mat-label>
        <input matInput formControlName="clm_clientemail">
        <button mat-button color="primary" (click)="addClient()" matSuffix *ngIf="customEntryEnabled" type="button">
          Save
        </button>
        <mat-error *ngIf="demandForm.controls['clm_clientemail'].hasError('serverError')">
          {{ demandForm.controls['clm_clientemail'].errors?.['serverError'] }}
      </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>LOB</mat-label>
        <input type="text" matInput formControlName="dem_lob_id" [matAutocomplete]="lobAuto" 
          required (blur)="onBlur('dem_lob_id')">
        <button *ngIf="demandForm.get('dem_lob_id')?.value" mat-icon-button matSuffix
          (click)="clearLOBSelection(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #lobAuto="matAutocomplete" (optionSelected)="onLOBChange($event)" 
          [displayWith]="displayLOB">
          <mat-option *ngIf="(filteredLOBs | async)?.length === 0" disabled>
            No options available
          </mat-option>
          <mat-option *ngFor="let lob of filteredLOBs | async" [value]="lob">
            {{ lob.lob_name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="demandForm.controls['dem_lob_id'].hasError('required')">
          LOB is required
        </mat-error>

        <mat-error *ngIf="demandForm.controls['dem_lob_id'].hasError('serverError')">
          {{ demandForm.controls['dem_lob_id'].errors?.['serverError'] }}
      </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Position Name</mat-label>
        <input matInput formControlName="dem_position_name">

        <mat-error *ngIf="demandForm.controls['dem_position_name'].hasError('serverError')">
          {{ demandForm.controls['dem_position_name'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>No Of Positions</mat-label>
        <input matInput formControlName="dem_positions" required>

        <mat-error *ngIf="demandForm.controls['dem_positions'].hasError('required')">
          Number of positions is required
        </mat-error>

        <mat-error *ngIf="demandForm.controls['dem_positions'].hasError('serverError')">
          {{ demandForm.controls['dem_positions'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Position Location</mat-label>
        <mat-select formControlName="dem_position_location" multiple>
          <mat-option *ngFor="let location of locations" [value]="location.lcm_id">
            {{ location.lcm_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>GCB Level</mat-label>
        <input matInput formControlName="dem_gcblevel">

        <mat-error *ngIf="demandForm.controls['dem_gcblevel'].hasError('serverError')">
          {{ demandForm.controls['dem_gcblevel'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field" (click)="datePicker.open()">
        <mat-label>Required By</mat-label>
        <input matInput [matDatepicker]="datePicker" formControlName="dem_validtill" [min]="minDate"
          (keydown)="$event.preventDefault()">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        
        <mat-error *ngIf="demandForm.controls['dem_validtill'].hasError('serverError')">
          {{ demandForm.controls['dem_validtill'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>MUST HAVE Skills</mat-label>
        <textarea matInput formControlName="dem_skillset"></textarea>

        <mat-error *ngIf="demandForm.controls['dem_skillset'].hasError('serverError')">
          {{ demandForm.controls['dem_skillset'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nice to have Skills</mat-label>
        <textarea matInput formControlName="dem_mandatoryskill"></textarea>

        <mat-error *ngIf="demandForm.controls['dem_mandatoryskill'].hasError('serverError')">
          {{ demandForm.controls['dem_mandatoryskill'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Internal Department</mat-label>
        <input type="text" matInput formControlName="dem_idm_id" [matAutocomplete]="deptAuto" 
          (blur)="onBlur('dem_idm_id')">
        <button *ngIf="demandForm.get('dem_idm_id')?.value" mat-icon-button matSuffix
          (click)="clearDeptSelection(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #deptAuto="matAutocomplete" (optionSelected)="onDeptChange($event)" 
          [displayWith]="displayDept">
          <mat-option *ngIf="(filteredDepts | async)?.length === 0" disabled>
            No options available
          </mat-option>
          <mat-option *ngFor="let dept of filteredDepts | async" [value]="dept">
            {{ dept.idm_unitname }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="demandForm.controls['dem_idm_id'].hasError('serverError')">
          {{ demandForm.controls['dem_idm_id'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>RR Number</mat-label>
        <input matInput formControlName="dem_rrnumber">

        <mat-error *ngIf="demandForm.controls['dem_rrnumber'].hasError('serverError')">
          {{ demandForm.controls['dem_rrnumber'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Maximum grade/level of the profile</mat-label>
        <input matInput formControlName="dem_rrgade">

        <mat-error *ngIf="demandForm.controls['dem_rrgade'].hasError('serverError')">
          {{ demandForm.controls['dem_rrgade'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>JR Number</mat-label>
        <input matInput formControlName="dem_jrnumber">

        <mat-error *ngIf="demandForm.controls['dem_jrnumber'].hasError('serverError')">
          {{ demandForm.controls['dem_jrnumber'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>CTool Number</mat-label>
        <input matInput formControlName="dem_ctoolnumber">

        <mat-error *ngIf="demandForm.controls['dem_ctoolnumber'].hasError('serverError')">
          {{ demandForm.controls['dem_ctoolnumber'].errors?.['serverError'] }}
      </mat-error>
      
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field" (click)="picker.open()">
        <mat-label>CTool Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dem_ctooldate" (keydown)="$event.preventDefault()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="demandForm.controls['dem_ctooldate'].hasError('serverError')">
          {{ demandForm.controls['dem_ctooldate'].errors?.['serverError'] }}
      </mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="dem_comment"></textarea>
      </mat-form-field>

      <div class="file-input-container">
        <label for="job_description">JD attachment</label>
        <input type="file" id="dem_jd" (change)="onFileSelected($event)" #fileInput >
      </div>

      <mat-error *ngIf="demandForm.controls['dem_jd'].hasError('serverError')">
        {{ demandForm.controls['dem_jd'].errors?.['serverError'] }}
    </mat-error>

    </div>

    <div class="submit-container">
    <button mat-raised-button color="primary" type="button" class="cancel"
        (click)=cancel()>Cancel</button>
        <button mat-raised-button color="primary" type="submit" class="submit" [disabled]="!demandForm.dirty || demandForm.invalid">
          {{ isEditMode ? 'Update' : 'Submit' }}
        </button>
    </div>
  </form>
</mat-card>