<h2 class="page-title">Location Master</h2>
<mat-card class="form-container">
    <form #form="ngForm" [formGroup]="locationForm" (ngSubmit)="onSubmit(form)">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Location Name</mat-label>
                <input matInput formControlName="lcm_name" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>State</mat-label>
                <input matInput formControlName="lcm_state" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Country</mat-label>
                <input matInput formControlName="lcm_country"
                    required>
            </mat-form-field>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="warn" type="button" class="cancel" (click)="onCancel()">
                Cancel
              </button>
            <button mat-raised-button color="primary"
                type="submit" class="submit">Submit</button>
        </div>
    </form>
</mat-card>

<app-list-location></app-list-location>
