<mat-card class="form-container">
  <h2 class="page-title">Location Master</h2>
    <form #form="ngForm" [formGroup]="locationForm" (ngSubmit)="onSubmit(form)">
        <div class="form-row">
            <mat-form-field floatLabel="always" class="form-field">
                <mat-label>Location Name</mat-label>
                <div class="Input"><input matInput formControlName="lcm_name" type="text" pattern="[A-Za-z\s]*" title="Only letters allowed"  required></div>

                <mat-error *ngIf="locationForm.controls['lcm_name'].hasError('required')">
                    Location Name is required.
                  </mat-error>
                  <mat-error *ngIf="locationForm.controls['lcm_name'].hasError('serverError')">
                    {{ locationForm.controls['lcm_name'].getError('serverError') }}
                  </mat-error>

            </mat-form-field>

            <mat-form-field floatLabel="always" class="form-field">
                <mat-label>State</mat-label>
                <div class="Input"> <input matInput formControlName="lcm_state" type="text" pattern="[A-Za-z\s]*" title="Only letters allowed" required> </div>

                <mat-error *ngIf="locationForm.controls['lcm_state'].hasError('required')">
                    State is required.
                  </mat-error>
                  <mat-error *ngIf="locationForm.controls['lcm_state'].hasError('serverError')">
                    {{ locationForm.controls['lcm_state'].getError('serverError') }}
                  </mat-error>

            </mat-form-field>

            <mat-form-field floatLabel="always" class="form-field">
                <mat-label>Country</mat-label>
                <div class="Input"> <input matInput formControlName="lcm_country" type="text" pattern="[A-Za-z\s]*" title="Only letters allowed" 
                    required> </div>

                    <mat-error *ngIf="locationForm.controls['lcm_country'].hasError('required')">
                        Country Name is required.
                      </mat-error>
                      <mat-error *ngIf="locationForm.controls['lcm_country'].hasError('serverError')">
                        {{ locationForm.controls['lcm_country'].getError('serverError') }}
                      </mat-error>

            </mat-form-field>
        </div>

        <div class="submit-container">
            <button mat-raised-button color="warn" type="button" class="cancel" (click)="onCancel()">
                Cancel
              </button>
            <button mat-raised-button color="primary"
                type="submit" class="submit" [disabled]="locationForm.invalid">Submit</button>
        </div>
    </form>
</mat-card>

<app-list-location></app-list-location>
