<div class="demand-candidate-wrapper" fxLayout="row" fxLayoutGap="10px" style="width: 100%; height: 100vh;">
    <app-demand fxFlex="40" (pdfSelected)="handlePdfSelection($event)"></app-demand>
    <app-candidate fxFlex="40" (candidatesLinked)="onCandidatesLinked()" (pdfSelected)="handlePdfSelection($event)"></app-candidate>
    <app-preview fxFlex="30" [pdfUrl]="selectedPdfUrl" (close)="onPreviewClose()"></app-preview>
    <app-interview-schedule fxFlex="30" *ngIf="candidateComponent?.showInterviewForm"
    [candidateId]="candidateComponent?.selectedCandidateForInterview?.cdl_cdm_id"
    [demandId]="demandId"
    [candidateName]="candidateComponent?.selectedCandidateForInterview?.name"
    (closeForm)="candidateComponent?.closeInterviewForm()"
    (interviewScheduled)="onInterviewScheduled($event)">
</app-interview-schedule>
</div>