html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #4C4C4B;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  padding: 20px;
  background-color: #fff;

  .left-sidebar {
    //background-color: #e0b60c;
    width: 25%;
    height: 29.03%;
    border-radius: 2%;
  }


  .app-container {
    height: 150vh;
    display: flex;
  }

  .content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 78.5%;
    padding-left: 16px;

    .page-title {
      margin: 20px;
      font-size: 14px;
      // line-height: 0.75em;
      color: #3F3F3F;
      font-weight: bold;
    }
  }
}

table {
  .file-cell {
    align-items: center;
    gap: 8px;

    .pdf-icon {
      font-size: 24px;
      color: #d32f2f;
      object-fit: contain;
    }

    a {
      text-decoration: none;
      color: initial;
    }
  }
}



// reset styles

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  background-color: #F6F5F1;
}





mat-sidenav {
  border-radius: 0 !important;
}

// .sidebar-logo img {
//   max-width: 100%;
//   height: auto;
// }

.content {
  padding: 16px;
}

.mat-drawer-container {
  background-color: transparent !important;


}

span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  display: flex;
}

.container-fluid {
  padding: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--filled:hover {
  background-color: transparent !important;
}


.page-content {
  width: 100%;
  // max-width: 75%;
  height: auto;
  gap: 5%;
  flex: 0 0 auto;
}


.main-content {
  flex: 0 0 80%;
  background: white;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.right-sidebar {
  flex: 0 0 20%;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.page-content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 20px;
}

.table-container {
  // max-width: 100%;
  // overflow-x: auto;
  // border-color: #000;
  background: #FAFAFA; /* Light gray background */
  border-radius: 20px; 
  width: 100%; /* Full width */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

  tr {
    font-size: 12px;
    line-height: 0.75em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  // table-layout: fixed;
}

mat-paginator {
  margin-top: 20px;
}

th,
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-paginator-outer-container {
  display: block !important;
}

mat-form-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  margin-left: 1px;
  margin-right: 0;
  content: "*";
  color: rgb(235, 94, 94);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  border-radius: 20px;

}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

mat-card {
  overflow: hidden;
}

.form-container {
  background: #fff;
  // padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  min-width: 30% !important;
}

.full-width {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

// .form-field:last-child input {
//   padding-bottom: 4px;
//   border-bottom: 1px solid #ccc;
// }

.file-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.file-input-container label {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #444345;
  font-weight: 700;
  line-height: 32.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}

.file-input-container input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  width: 100%;
  gap: 10px;

  button {
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;

    .mdc-button__label {
      font-size: 12px;
      font-weight: 500;
      color: #444345;
    }

    &.submit {
      background: #F8A1A1 !important;

      &:hover {
        background: #d9534f !important;
      }
    }

    &.cancel {
      background-color: #DACFCF;
    }
  }
}


.wrapper-padding {
  padding: 20px;
}

.wrapper-m30 {
  margin-top: 30px;
}

.field-30 {
  max-width: 100px;
  width: 100%;
}

.field-50 {
  width: 90%;
}

mat-label {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #444345;
  font-weight: 700;
  line-height: 32.52px;
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field-appearance-fill .mat-form-field-wrapper {
  border-radius: 20px !important;
  /* Curved border */
  overflow: hidden;
}

.search-box mat-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: gray;
}

.search-box {
  width: 300px;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 2%; // margin to adjust search button
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-outline-width: 0px !important;
}

/* Optional: Adjust input field padding for better look */
.mat-mdc-form-field-infix {
  padding: 10px !important;
}

.mat-form-field {
  margin-bottom: 0px !important;
  /* Reduce space below input fields */
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important;
  /* Reduce padding inside the form field */
}

.mat-form-field-flex {
  height: 36px !important;
  /* Reduce the height of the input field */
  align-items: center !important;
}

.mat-input-element {
  padding: 5px !important;
  /* Adjust the padding inside the input box */
  font-size: 14px !important;
  /* Adjust font size if needed */
}

.search-container mat-form-field .mat-mdc-text-field-wrapper {
  background-color: #f5f5f5 !important;
  border-radius: 20px !important;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1) !important;
  width: 300px;
}

.outlined-icon {
  font-variation-settings: 'wght' 100; // Makes it thinner
  color: rgba(0, 0, 0, 0.6); // Lighter black
}

.table-container table th {
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.table-container {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table.mat-table {
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.table-container table tr:nth-child(even) {
  background-color: #EAEEF6;
}

.table-container table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-container table td {
  padding: 10px;
  border-bottom: transparent;
}


/* Responsive Styles */
@media (max-width: 768px) {

  .left-sidebar {
    position: relative;
    width: 100%;
    margin-left: 0;
  }

  .main-content {
    margin-left: 0;
  }
}


.hover-container {
  position: relative;
  /* Needed for absolute positioning */
}

// .edit-btn {
//   position: absolute;
//   right: 5px;
//   /* Adjust position inside the cell */
//   top: 50%;
//   transform: translateY(-50%);
//   background: white;
//   border-radius: 50%;
//   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
// }

  .edit-btn{
    font-size: 5px;
  }
  .hover-container:hover .edit-btn {
  opacity: 1;
  /* Button appears smoothly on hover */
}

// added from here 
/* Ensures file input container aligns well */
.file-input-container {
  width: 30%;
  margin: 2.5%;
  display: flex;
}

mat-radio-group[formControlName="dem_isreopened"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 10%;
  min-width: 40px;
}

mat-radio-group[formControlName="dem_isactive"] {
  margin-left: 4%;
  margin-top: 1.7%;
  align-items: center;
}

mat-radio-group[formControlName="isInternal"],
mat-radio-group[formControlName="!isInternal"],
mat-form-field[formControlName="dem_positions"] mat-radio-button {
  margin: 7px;
  display: inline-block;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-radio-button.mat-accent {
  --mdc-radio-selected-icon-color: #FACC15 !important;
  /* Darker yellow inner circle */
  --mdc-radio-selected-focus-icon-color: #EAB308 !important;
  /* Even darker yellow outer ring */
  --mdc-radio-selected-hover-icon-color: #EAB308 !important;
  /* Dark yellow on hover */
  --mdc-radio-selected-pressed-icon-color: #EAB308 !important;
  /* Dark yellow on press */
  --mat-radio-checked-ripple-color: rgba(234, 179, 8, 0.4) !important;
  /* Stronger ripple effect */
}

::ng-deep .mat-radio .mdc-radio__outer-circle {
  border-color: #EAB308 !important;
  /* Even darker yellow outer circle */
}

::ng-deep .mat-radio .mdc-radio__inner-circle {
  background-color: #FACC15 !important;
  /* Darker yellow inner circle */
}

//new  ranch
.form-container {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}

.wrap-height {
  height: 80%;
}

// .mat-checkbox-checked .mat-checkbox-background,
// .mat-checkbox-indeterminate .mat-checkbox-background {
//   background-color: #F7CB15 !important; /* Change to yellow */
// }

// ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
//   background-color: #F7CB15 !important; /* Yellow background when checked */
// }

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: #F7CB15 !important;
  background-color: #F7CB15 !important;
}

.mdc-checkbox .mdc-checkbox__ripple {
  background-color: #F7CB15 !important;
  opacity: 0.4;
}

.submit:disabled {
  opacity: 0.5;
}

// search box

.custom-search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ;
  background: #FAFAFA;
  border-radius: 10px;
  padding: 6px 12px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 32%;
  height: 36px;

  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #727270;
    background: transparent;
  }

  &:focus-within {
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.15);
  }

  .search-icon {
    color: #000;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

}