html,
body {
  height: 100%;
}

*,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1em;
}

.app-container {
  height: 100vh;
  display: flex;
}

mat-sidenav {
  border-radius: 0 !important;
}

.sidebar-logo {
  text-align: center;
  padding: 16px;
}

.sidebar-logo img {
  max-width: 100%;
  height: auto;
}

.content {
  padding: 16px;
}

.mat-drawer-container {
  background-color: transparent !important;

  .mdc-list-item__primary-text {
    color: #000 !important;
  }
}

.left-sidebar {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--filled:hover {
  background-color: transparent !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 17% 63% 20%;
  grid-template-areas:
    "left-sidebar main-content right-sidebar";
}

.left-sidebar {
  grid-area: left-sidebar;
  background-color: #F6F5F1 !important;
  border-right: 0px solid #D9D9D9;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  width: 17%;
}

.main-content {
  grid-area: main-content;
  background-color: #f9fafc;
  padding: 16px;
}

.right-sidebar {
  grid-area: right-sidebar;
  background-color: #f4f4f4;
  padding: 16px;
  border-left: 1px solid #ccc;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  border-color: #000;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.search-box {
  width: 300px;
}

.mat-mdc-paginator-outer-container {
  display: block !important;
}

mat-form-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}



.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  min-width: 30% !important;
}

.full-width {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.form-field:last-child input {
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.file-input-container label {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #444345;
  font-weight: 700;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 8px;
}

.file-input-container input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.submit-container button {
  background: #F8A1A1 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-container button:hover {
  background: #d9534f !important;
}

.wrapper-padding {
  padding: 20px;
}

.wrapper-m30 {
  margin-top: 30px;
}

.field-30 {
  max-width: 100px;
  width: 100%;
}

mat-label {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #444345;
  font-weight: 700;
  line-height: 14.52px;
  text-align: left;
}


.search-box mat-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: gray;
}

.search-box {
  border-color: black;
  overflow: hidden;
  background: #fff;
}

.table-container table th {
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.table-container {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table.mat-table {
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.table-container table tr:nth-child(even) {
  background-color: #ffecec;
}

.table-container table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-container table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Single column layout on smaller screens */
    grid-template-areas:
      "main-content"
      "left-sidebar"
      "right-sidebar";
    /* Stack the sections on top of each other */
  }

  .left-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .main-content {
    margin-left: 0;
  }
}