<div class="search-container">
    <h3 class="page-title">Candidate Tracking</h3>
    <button mat-raised-button class="submit" (click)="addCandidate()">+ Add
        Candidate</button>
    <!-- Search Box -->
    <div class="custom-search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" (keyup)="applyFilter($event)" placeholder="Search ..." />
      </div>
      
</div>

<!-- Status Tabs -->
<!-- <mat-tab-group (selectedTabChange)="filterCandidates($event)">
      <mat-tab label="All"></mat-tab>
      <mat-tab label="Phone Screened"></mat-tab>
      <mat-tab label="Shortlisted"></mat-tab>
      <mat-tab label="Interviewed"></mat-tab>
      <mat-tab label="Job Offered"></mat-tab>
      <mat-tab label="Joined"></mat-tab>
    </mat-tab-group>
   -->
<!-- Search Bar -->

<mat-form-field class="status-filter">
    <mat-label>Filter by Status</mat-label>
    <mat-select multiple [(ngModel)]="selectedStatuses" (selectionChange)="filterCandidates()">
        <mat-option *ngFor="let status of candidateStatuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button type="button" class="cancel" (click)="resetFilters()" style="background-color: #dacfcf; margin-bottom: 1%;">Reset Filters</button>
    <mat-card class="table-container">
        <!-- Candidate Table -->
        <table mat-table [dataSource]="filteredCandidates" class="mat-elevation-z8">
            <!-- Select Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    [checked]="isAllSelected()"
                    [indeterminate]="selectedCandidates.size > 0 && !isAllSelected()"
                    (change)="toggleAllSelections($event)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let candidate" (click)="$event.stopPropagation()">
                  <mat-checkbox
                    [checked]="isSelected(candidate.cdm_id)"
                    (change)="toggleCandidateSelection($event, candidate.cdm_id)">
                  </mat-checkbox>
                </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let candidate"> {{ candidate.cdm_name }} </td>
            </ng-container>
    
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let candidate"> {{ candidate.lcm_name }} </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let candidate"
                    [ngClass]="getStatusClass(candidate.candidate_status?.csm_code)">
                    {{ candidate.candidate_status?.csm_code }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="schedule">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let candidate" (click)="$event.stopPropagation()">
                    <button mat-button (click)="scheduleInterview(candidate)">
                        Schedule
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
                (click)="onRowClick(row, $event)">
            </tr>
        </table>
    </mat-card>
    

    <div class="custom-pagination">
        <div class="rows-per-page">
          Showing 
          <select [(ngModel)]="pageSize" (change)="onPageSizeChange()" class="custom-select">
            <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
          </select> 
          of {{totalItems}}
        </div>
      
        <div class="pagination-buttons">
          <button (click)="previousPage()" [disabled]="currentPage === 1">&#8592;</button>
      
          <!-- Loop through pages to display first 3 pages, ellipsis, and last page -->
          <button *ngFor="let page of pages" 
                  (click)="goToPage(page)" 
                  [class.active]="page === currentPage">
            <!-- Display ellipsis -->
            <span *ngIf="page === -1">...</span>
            <!-- Display page number -->
            <span *ngIf="page !== -1">{{page}}</span>
          </button>
      
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">&#8594;</button>
        </div>
      </div>
      
      